@import '../constants/mixins';
@import '../constants/colors';

.modal-card {
  @include boxShadowShallow();
  padding: 1.5rem;
  margin-bottom: 2rem;
  border-radius: 5px;
  overflow: auto;
  position: relative;
}
